    /* WeeklyPrayer.css */
    /* WeeklyPrayer.css */

.prayer_history {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(10, 233, 129);
    }

    .weekly-prayer {
        width: 100%;
        border-collapse: collapse;
    }
    
    .weekly-prayer th,
    .weekly-prayer td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
    }
    
    .weekly-prayer thead {
        background-color: #f2f2f2;
    }
    
    .weekly-prayer h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
        