/* styles.css */

/* WeeklyPrayer.css */

.container {
    margin: 0 auto;
    padding: 20px;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .prayer-history {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .weekly-prayer {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-head {
    background-color: #f5f5f5;
  }
  
  .table-head th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .weekly-prayer td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .weekly-prayer td:first-child {
    width: 80px;
  }
  
  .weekly-prayer td:nth-child(6) {
    width: 60px;
  }
  
  .weekly-prayer td:last-child {
    width: 80px;
  }
  
  .weekly-prayer td:last-child button {
    margin-right: 5px;
  }
  
  .weekly-prayer td:last-child button:last-child {
    margin-right: 0;
  }
  
  
  .weekly-history-row {
    /* Styles for the table rows */
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .prayer-checkbox {
    /* Styles for the prayer checkboxes */
    margin-right: 5px;
  }
  
  .edit-button {
    /* Styles for the edit button */
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  
  .delete-button {
    /* Styles for the delete button */
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  
  .chart-container {
    /* Styles for the chart container element */
    margin-top: 20px;
  }
  
  /* Add any additional styles as needed */
  
