    .prayer-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 12px;
    }
    
    .prayer-form-table {
        width: 350px;
        /* border-collapse: collapse; */
        margin-top: 20px;
        padding: auto;
        
    }
    
    .prayer-form-table th {
        text-align: left;
        padding: 10px;
        background-color: #6922c0;
        color: antiquewhite;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .prayer-form-table td {
        padding: 18px;
        
        /* border-bottom: 1px solid #ccc; */
    }
    
    .prayer-form-table .prayer-checkbox {
        margin-bottom: px;
        
    }
    
    .add-prayer-button {
        padding: 10px 5px;
        background-color: #6922c0;
        color: #fff;
        border-radius:25%;
        cursor: pointer;
        margin-bottom: 100px;
        
    }
    
    .add-prayer-button:hover {
        background-color: #45a049;
    }
    
    .add-prayer-button:focus {
        outline: none;
    }
    