.container.about-page {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    color:rgb(48, 28, 28);
  
    font-size: x-large;
  
   
    border-radius: 8px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  .container.about-page h3 {
    color: #333;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .container.about-page ul {
    margin-top: 0;
    padding-left: 20px;
  }
  
  .container.about-page li {
    margin-bottom: 5px;
  }
  
  .container.about-page li:before {
    content: '•';
    color: #333;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    margin-left: -15px;
  }
  
  .container.about-page p {
    margin-top: 10px;
  }
  
  .container.about-page a {
    color: #007bff;
    text-decoration: none;
  }
  
  .container.about-page a:hover {
    text-decoration: underline;
  }
  